*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #\#wrapper {
    width: 100%;
    position: relative;
    top: 0;
    margin: 0 auto 0 auto;
    font-family: 'Times New Roman', Times, serif;
    height: 1000px;
}
hgroup {
    position:absolute;
    float: left;
    margin:30px 0 0 250px;
    color: red;
}
figure {
    padding: 18px 0 0 450px;
    
}
header {
    background-color: grey;
    width: 100%;
    margin: 0 auto 0 auto;
    height: 150px;
}
#contact {
    position: absolute;
    right: 0;
    top: 0;
}
.contact {
    display: flex;
    width: 600px;
    height: 21px;
    background-color: black;
    color: white;
}
.contact-type {
    width: 110px;
    background-color: red;
}
.contact-value {
    padding-left: 2px;
    background-color:black;
    color: red;
}
.contact-value a {
    color: red;
}
.content { 
    width: 80%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: br br;
    grid-template-rows: br br br;
    grid-template-areas: 
    "ab co"
    "ex ed"
    "ho ho";
}
#about {
    grid-area: ab;
}
#competencies {
    grid-area: co;
}
#experiences {
    grid-area: ex;
}
#education {
    grid-area: ed;
}
#hobbies {
    padding-top: 15px;
    grid-area: ho;
    width: 48%;
}
h3 {
    border-bottom: 1px solid grey;
}
ul {
    margin: 15px 0 0 20px;
    
}
h3::before {
    content: '\25cf';
    font-size: 30px;
    color: red;
}
#contact h3::before {
    content: none;
}
#about p {
    padding: 15px 15px 0 0;
}
#experiences p {
    padding-right: 15px;
}
h4 {
    color: red;
}
.experience-type::after {
    content: ' @ ';
    color: red;
}
.experience-location::before {
    content: 'In';
}
.experience-date-separator { 
    color: red;
}
.experience-date, .experience-location {
    color: grey;
}
.experience-institution {
    font-weight: 100;  
}
.experience {
    padding-top: 15px;
}
.experience-details {
    padding-bottom: 15px;
}
.skills-primary::before {
    content: 'Main';
}
.skills-secondary::before {
    content: 'Other';
}
.skills {
    padding: 16px 0 20px 0;
}
.skill {
    position: relative;
    background-color: grey;
    border: 4px solid white;
    color: white;
}
.skill[data-skill="5"]::before {
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 50%;
    margin: 4px 4px 4px 2px;
}
.skill[data-skill="9"]::before { 
    content: '';
    background-color: rgb(255, 77, 77);
    display: inline-block;
    height: 20px;
    width: 90%;
    margin: 4px 4px 4px 2px;
}
.skill[data-skill="3"]::before {
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 30%;
    margin: 4px 4px 4px 2px;
}
.skill[data-skill="1"]::before {
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 10%;
    margin: 4px 4px 4px 2px;
}
.skills-secondary .skill[data-skill="5"]::before {
    content: '';
    background-color:rgb(255, 77, 77);
    display: inline-block;
    height: 20px;
    width: 50%;
    margin: 4px 4px 4px 2px;
}
.skill span {
    color:white;
    position: absolute;
    top: 4px;
    left: 3px;
}
@media screen and (max-width:600px){

    .content{
        width: 80%;
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-columns: br;
        grid-template-rows: br br br br br;
        grid-template-areas: 
        "ab"
        "co"
        "ex"
        "ed"
        "ho";
    }
    #\#wrapper{
        width: 100%;
        position: relative;
        top: 0;
        margin: 0 auto 0 auto;
        font-family: 'Times New Roman', Times, serif;
        height:2000px;
    }
    hgroup{
        position:absolute;
        margin:20px 0 0 20px;
        color: red;
    }
    figure{
        padding: 140px 0 0 20px;
        
    }
    header{
        background-color: grey;
        width: 100%;
        margin: 0 auto 0 auto;
        height: 300px;
    }
    #contact{
        position: absolute;
        top: 1800px;
    }
    .contact{
        display: flex;
        width: 450px;
        height: 21px;
        background-color: black;
        color: white;
    }
    .contact-type {
        width: 110px;
        background-color: red;
    }
    .contact-value {
        padding-left: 2px;
        background-color:black;
        color: red;
    }
    .contact-value a {
        color: red;
    }
}